{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Detalle de versiones</title>
	<link rel="stylesheet" type="text/css" href="{% static 'store/style.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body style="background-color:#FAF8F2;">
	<div class= "container-fluid">
		<ul style='color: #0F86C8;'>
			<li>
				<h2>Versión 1.0.0</h2> <h3>12-11-2020</h3>
				<p>Lanzamiento de la web funciones y vistas basicas Responsive desing</p>
				<p>Contenido dinamico</p>
			</li>
			<li>
				<h2>versión 1.0.1</h2>
				<p>Correción de colores de la web</p>
				<p>Integración de barra de navegación</p>
				<p>Animaciones básicas.</p>
			</li>
		</ul>
		
	</div>

</body>
</html>