/* [class*= "col-"]{
	float:left;
	border:1px solid black;
	padding:auto;
}
*/
#cuerpo1, #cuerpo2, #cuerpo3, #cuerpo4, #cuerpo5, #cuerpo6, #cuerpo7, #final{
	font-family: "Courier New", Courier, monospace;

	font-weight: 600;
	font-size: 18px;
	background-color: rgb(232, 232, 232);
	/*background: white url("images/fondo.jpg") repeat;*/

}
/*#misifus{	background-color: rgb(238, 221, 248);*/

}
#presentacion{
		font-family: "Brush Script MT";
		font-size: 68px;
		animation-duration: 5s;
  		animation-name: anima;
}

#presentacion2, #presentacion3{
	font-family: "Brush Script MT";
	font-size: 58px;
}

#hora{font-family: "Courier New", Courier, monospace;}
#final{background-color:rgba(2,43,22,0.29); }

#presentacion3{
	animation-duration: 5s;
  	animation-name: slidein;

} 

#presentacion2{
	animation-duration: 5s;
  	animation-name: anima;

}

/* Menu */
#menu ul {
 list-style:none;
 margin:0;
 padding:0;
}
#menu ul li {
 background-color:#E8E8E8;
}
#menu ul a {
 display:block;
 color:#fff;
 text-decoration:none;
 font-weight:400;
 font-size:15px;
 padding:10px;
 font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
 text-transform:uppercase;
 letter-spacing:1px;
}
#menu ul li {
 position:relative;
 float:left;
 margin:0;
 padding:0;
}
#menu ul li:hover {
 background:#5b78a7;
}
/* menu desplegable */

#menu ul ul {
 display:none;
 position:absolute;
 top:100%;
 left:0;
 background:#eee;
 padding:0;
}

/* items del menu desplegable */

#menu ul ul li {
 float:none;
 width:150px
}

/* enlaces de los items del menu desplegable */

#menu ul ul a {
 line-height:120%;
 padding:10px 15px;
}

/* items del menu desplegable al pasar el ratón */

#menu ul li:hover > ul {
 display:block;
}

/*FIN DEL MENU*/







/* animation */
@keyframes slidein {
  from {
    margin-top: 100%;
    width: 300%;
  }

  to {
    margin-top: 0%;
    width: 100%;
  }
}
@keyframes anima{
	from {
		margin-left: 100%;
		width: 300%;

	}
	to{
		margin-top: 0%;
		width: 100%;
	}
}





@media (min-width: 1200px){
#presentacion{
		font-family: "Brush Script MT";
		font-size: 82px;
	}
#presentacion3{
	font-family: "Brush Script MT";
	font-size: 108px;
}

#cuerpo1{height:75vh;}
#cuerpo2{height: 75vh;}
#cuerpo3, #cuerpo4{height: 45vh;}
#cuerpo5{height: 44.5vh;}
#cuerpo6{height: 44.5vh;}
#cuerpo7{height: 44.5vh;}
#final{height:20vh;}


}










@media (max-width: 1199px) and (min-width:992px){



#presentacion{
		font-family: "Brush Script MT";
		font-size: 72px;
	}
#presentacion3{
	font-family: "Brush Script MT";
	font-size: 108px;
}

#cuerpo1{height:75vh;}
#cuerpo2{height: 75vh;}
#cuerpo3, #cuerpo4{height: 45vh;}
#cuerpo5{height: 44.5vh;}
#cuerpo6{height: 44.5vh;}
#cuerpo7{height: 44.5vh;}
#final{height:20vh;}




}





@media (max-width: 991px) and (min-width:768px){
#presentacion{
		font-family: "Brush Script MT";
		font-size: 82px;
	}
#presentacion3{
	font-family: "Brush Script MT";
	font-size: 108px;
}

#cuerpo1{height:90vh;}
#cuerpo2{height: 90vh;}
#cuerpo3, #cuerpo4{height: 45vh;}
#cuerpo5{height: 44.5vh;}
#cuerpo6{height: 44.5vh;}
#cuerpo7{height: 44.5vh;}
#final{height:20vh;}


}
















@media (max-width: 767px){
	#cuerpo1{height: 95vh;}
	#cuerpo2{height: 74.4vh;}
	#cuerpo3, #cuerpo4{height: 85vh;}
	#final{height:20vh;}
}